
logs/
pids/
lib-cov/
coverage/
jspm_packages/
build/Release/
node_modules/
bower_components/
coverage/
dist/
lib/
local/
reports/
Thumbs.db
dll/
~/

*.log
npm-debug.log*
*.pid
*.seed
.nyc_output
.lock-wscript
.npm
.history
.node_repl_history
.cache-loader/
.eslintcache
*.env
.env
.idea
.vscode
*.sublime-project
*.sublime-workspaceg
.DS_Store
*.tgz
*.zip
.cache
.history
*.aes
package-lock.json
*.docz/**
tags
!tags/
tags.lock
tags.temp

