.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImgBlock {
  height:200px;
  text-align: center;
  margin-bottom: 16px;
}

.featureSvg {
  height: 100%;
}

.flexCenter {
  display:flex;
  justify-content: center;
}
