.video {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.loaderWrapper {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #a5b0b7;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.soundIcon {
  position: absolute;
  padding:16px;
  top:0;
  right:0;
  z-index:2;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
