.wrapper {
  position: relative;
  background-color: #6a6a6a;
  border-radius: 2px;
  height:2px;
}

.bar {
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #eae8e8;
  height:2px;
}
